<%- include('partials/header') %>
<h1>Contact us</h1>
<p>
  You can contact my following social media accounts:<br />
  gmail: anirudh.anirudhsingh.singh@gmail.com<br />
  instagram:https:www.instagram.com\anibitte<br />
  facebook: https:www.facebook.com\anirudh.anirudhsingh.singh
</p>
<%- include('partials/footer') %>
